.homepageContainer {
  width: 100%;
}

.octokatContainer {
  height: 40vh;
  position: relative;
}

.octocatGif {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
}

.homepageBoxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepageContainer .box {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 7px;
  padding: 1.5rem 0;
  margin: 1rem;
  width: 90%;
  height: 160px;
}

.clickBox {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 90%;
  border-radius: 7px;
}

.clickBox .searchInput {
  height: 100%;
  width: 100%;
}

.clickBox form {
  display: flex;
  flex-direction: column;
  height: 5rem;
}

.clickBox form .searchInput {
  margin-right: 0;
}

.clickBox button {
  border: 1px solid lightgrey;
  background-color: #fff;
  border-radius: 7px;
  height: 100%;
  font-size: 0.9em;
  width: 100%;
}

.clickBox button:hover {
  background-color: #98daf1;
}

.clickBox.counter {
  text-decoration: none;
  color: #000;
  font-size: 0.9rem;
  border: 1px solid lightgrey;
  height: 3rem;
  align-items: center;
}

.clickBox.counter > p {
  margin-bottom: 0;
}

.clickBox.counter:hover,
.clickBox.counter:active,
.clickBox.counter:focus {
  color: #000;
  background-color: #98daf1;
}

@media (min-width: 940px) {
  .homepageBoxes {
    flex-direction: row;
  }

  .homepageContainer .box {
    padding: 1.5rem 1rem;
    width: 50%;
  }

  .clickBox form {
    flex-direction: row;
    height: 3rem;
  }

  .clickBox form .searchInput {
    margin-right: 1rem;
  }

  .clickBox button {
    margin-top: 0;
    width: 20%;
  }
}
