.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: 1rem auto;
}

.octocatGif {
  height: 10rem;
  margin-bottom: 2rem;
}

.button {
  padding: 0.5rem;
  border-radius: 7px;
  border: 1px solid lightgrey;
  background-color: #fff;
  width: 140px;
  height: 44px;
  font-size: 0.9em;
}

.button:hover {
  cursor: pointer;
  background-color: #98daf1;
}
