.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.button {
  padding: 0.5rem;
  border-radius: 7px;
  border: 1px solid lightgrey;
  background-color: #fff;
  width: 140px;
  height: 44px;
  font-size: 0.9em;
}

.button:hover {
  cursor: pointer;
  background-color: #98daf1;
}

.errorMessage {
  color: red;
}

@media (min-width: 740px) {
  .App {
    width: 80vw;
  }

  .octocatGif {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
  }
}
